<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href= "style.css" rel="stylesheet">
    
    <title>Culinary Website</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-custom">
    <a class="navbar-brand" href="#">Culinary Site</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="base.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="recipes.html">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo consequat ligula, ut ultrices urna facilisis sit amet. Sed ut justo congue lacus porttitor pharetra. Sed rutrum luctus tellus in porttitor. Sed suscipit, diam non euismod faucibus, lacus lectus faucibus magna, 
    at sodales arcu velit ac justo. Sed vel mattis odio. Quisque feugiat libero facilisis, tempus nisi quis, egestas enim. Sed lobortis tempus sem ac aliquet. Nunc quis est sapien. Vivamus quis turpis vel magna sodales sodales blandit ullamcorper diam. Quisque semper lacus sed tortor 
    dapibus vehicula. Phasellus fermentum bibendum massa. Nullam dapibus, magna in viverra facilisis, dolor nunc porttitor felis, nec aliquet sapien turpis eu dolor. In iaculis aliquam ante, nec lobortis leo placerat a. Curabitur nec sagittis felis.
  </p>

</body>
</html>